<a href="https://colab.research.google.com/github/AkashMuttalwad/Assignments/blob/main/Assignment_Cuttoff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import pandas as pd
from datetime import date

In [14]:
data = pd.read_csv ('/content/drive/MyDrive/Assignment_cuttoff1_assignment.csv')
data

   Coustomer ID          Brand      Date  Brand count
0             1         adidas  1/1/2021            3
1             1           polo  1/1/2021            1
2             2          levis  2/1/2021            2
3             2  tomyhilfigure  2/1/2021            1
4             2           nike  3/1/2021            4
5             2           puma  3/1/2021            4

In [15]:
max_total=data.groupby(['Coustomer ID', 'Date']).agg(max=('Brand count', 'max'),total=('Brand count', 'sum')).reset_index()
max_total

   Coustomer ID      Date  max  total
0             1  1/1/2021    3      4
1             2  2/1/2021    2      3
2             2  3/1/2021    4      8

In [20]:
max_total['cutoff']= (max_total['max']/max_total['total'])*100
max_total

   Coustomer ID      Date  max  total     cutoff
0             1  1/1/2021    3      4  75.000000
1             2  2/1/2021    2      3  66.666667
2             2  3/1/2021    4      8  50.000000

In [23]:
min_total=data.groupby(['Coustomer ID', 'Date']).agg(min=('Brand count', 'min'),total=('Brand count', 'sum')).reset_index()
min_total

   Coustomer ID      Date  min  total
0             1  1/1/2021    1      4
1             2  2/1/2021    1      3
2             2  3/1/2021    4      8

In [25]:
min_total['cutoff']= (min_total['min']/min_total['total'])*100
min_total

   Coustomer ID      Date  min  total     cutoff
0             1  1/1/2021    1      4  25.000000
1             2  2/1/2021    1      3  33.333333
2             2  3/1/2021    4      8  50.000000

In [26]:
print(max_total,"\n\n\n",min_total)

   Coustomer ID      Date  max  total
0             1  1/1/2021    3      4
1             2  2/1/2021    2      3
2             2  3/1/2021    4      8


    Coustomer ID      Date  min  total     cutoff
0             1  1/1/2021    1      4  25.000000
1             2  2/1/2021    1      3  33.333333
2             2  3/1/2021    4      8  50.000000

In [27]:
max_total.append(min_total)

   Coustomer ID      Date  max  total  min     cutoff
0             1  1/1/2021  3.0      4  NaN        NaN
1             2  2/1/2021  2.0      3  NaN        NaN
2             2  3/1/2021  4.0      8  NaN        NaN
0             1  1/1/2021  NaN      4  1.0  25.000000
1             2  2/1/2021  NaN      3  1.0  33.333333
2             2  3/1/2021  NaN      8  4.0  50.000000